body {
    margin-left: 15%;
    margin-top: 15%;
    margin-right: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightpink;
}

h1 {
    color: blue;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.text {
    font-size: ;
}

.pog {
    width: 33%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #b3ffff);  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(1, 39, 253);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }